/* ==========================================================================
   Grid Variables
   ========================================================================== */

// General
$mobile-first = false
$grid-columns = 12
$grid-gutter = 20px

// Breakpoints
$screen-xs = 540px
$screen-sm = 768px
$screen-md = 1024px
$screen-lg = 1280px

// Other
$wrapper-max-width = 960px
